
{% extends "base_generic.html" %}

{%block content %}

  <div class="untree_co-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-lg-5 mx-auto order-1" data-aos="fade-up" data-aos-delay="200">
          <form action="#" class="form-box" id="signup-form">
            <div class="row">
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="First name", id="last-name">
              </div>
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Last name", id="first-name">
              </div>
              <div class="col-12 mb-3">
                <input type="email" class="form-control" placeholder="Email", id="email-input">
              </div>
              <div class="col-12 mb-3">
                <input type="password" class="form-control" placeholder="Password", id="password">
              </div>
              <div class="col-12 mb-3">
                <input type="tel" class="form-control" placeholder="phone number", id="phone-number">
              </div>

              <div class="col-12 mb-3">
                <label class="control control--checkbox">
                  <span class="caption">Accept our <a href="#">terms and conditions</a></span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
              </div>

              <div class="col-12">
                <input type="submit" value="Send Message" class="btn btn-primary" id=signup-btn>
              </div>
            </div>
          </form>

        </div>
      </div>
      <script>
        const signupForm = document.getElementById('signup-form');
        const signupBtn = document.getElementById('signup-btn');
        const emailInput = document.getElementById('email-input');
        const passwordInput = document.getElementById('password-input');
        const firstnameInput = document.getElementById('first-name');
        const lastnameInput = document.getElementById('last-name');
        const phonenumberInput = document.getElementById('phone-number');
        
        
        signupForm.addEventListener('submit', (event)) => {
          event.preventDefault(); // prevent the form from submitting on it own
          console.log('form submitted') 
            var url = 'http://127.0.0.1:8000/api/signup'
      
          fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              email: emailInput.value,
              password: passwordInput.value,
              first_name: firstnameInput.value,
              last_name: lastnameInput,
              phone_number: phonenumberInput
            })
          }).then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error))
        }
      </script>
      
    </div>
  </div> 
  
</div>
</div>
N<!-- /.untree_co-section -->
  {%endblock%}

