{% extends 'base.html'%}

  {%block main%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Create Candidate</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">poll</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Elements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Candidate Form </h5>

              <!-- General Form Elements -->
              <form id="candidate-form">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name-input">
                  </div>
                </div>
               
                
                <div class="row mb-3">
                    <label for="poll-select" class="col-sm-2 col-form-label">Poll:</label>
                    <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" id="poll-select" required>
                      <option value="">Select a poll</option>
                      <!-- Dynamically populate poll options using JavaScript -->
                    </select>
                 </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create Candidate</button>
                  </div>
                </div>
      
          </div>
       </div>
    </section>
      
  </main><!-- End #main -->
  {%endblock%}
  {%block script%}
  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(
              cookie.substring(name.length + 1)
            );
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");
    // Fetch the list of polls and populate the select dropdown
    fetch("http://127.0.0.1:8000/api/polls/")
      .then(function(response) {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Failed to fetch polls.");
        }
      })
      .then(function(data) {
        var pollSelect = document.getElementById("poll-select");
        data.forEach(function(poll) {
          var option = document.createElement("option");
          option.value = poll.id;
          option.textContent = poll.name;
          pollSelect.appendChild(option);
        });
      })
      .catch(function(error) {
        console.log(error);
      });
  
    document.getElementById("candidate-form").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent the form from submitting normally
  
      // Get form input values
      var name = document.getElementById("name-input").value;
      
      var pollId = document.getElementById("poll-select").value;
      
      console.log(
        JSON.stringify({
          name: name,
          poll: pollId
        })
      );
      // Make POST request to Django API
      fetch(`http://127.0.0.1:8000/api/polls/${pollId}/candidates/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
          'Authorization': `Bearer ${window.localStorage.getItem('accessToken')}`
        },
        body: JSON.stringify({
          name: name,
          poll: pollId
        })
      })
        .then(function(response) {
          if (response.ok) {
            // Candidate created successfully
            alert("Candidate created successfully!");
  
          } else {
            // Error in creating candidate
            alert("Failed to create candidate.");
            
          }
        })
        .catch(function(error) {
          // Error in making the request
          alert("An error occurred while creating the candidate.");
          console.log(error);
        });
    });
  </script>
  {%endblock%}